@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient-1: #808a98;
    --gradient-2: #f7f7f7;
    --gradient-dark-1: #4b5d7a; /* Darker grayish-blue */
    --gradient-dark-2: #c0c0c0; /* Darker gray */
}

@media (prefers-color-scheme: dark) {

}

body {
  
}

@layer utilities {
 
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.text-gradient {
    background: linear-gradient(90deg, var(--gradient-1), var(--gradient-2), 50%, var(--gradient-1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.border-gradient {
    border-color: linear-gradient(90deg, var(--gradient-1), var(--gradient-2), 50%, var(--gradient-1));
}

.border-gradient-dark {
    border-color: linear-gradient(90deg, var(--gradient-dark-1), var(--gradient-dark-2), var(--gradient-dark-1));
}

.bg-gradient {
    background: linear-gradient(45deg, var(--gradient-dark-1), var(--gradient-dark-2), 50%, var(--gradient-dark-1));
}

/* Dark themed scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #333; /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Dark color for the thumb (scroll handle) */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #777; /* Lighter color on hover */
}

input:is(:-webkit-autofill, :autofill) {
    -webkit-box-shadow: 0 0 0px 1000px rgb(3 7 18) inset;
    -webkit-text-fill-color: rgb(229 231 235);
}

.bold-resume {
    font-weight: 700;
    color: white;
}